/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --accent-bg-color: #FF0070;
  --accent-text-color: #000028;
  --decorated-color: #FF0070;
  --section-title-color: #FF0070;
  --link-shadow-color: #FF0070;
  --button-hover-border: rgba(255, 0, 112, 0.4);
  --bg-image: url('../images/cover-image-dark.png');
}

.theme-dark .page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  color: var(--text-color);
}

.theme-dark .header__rec {
  display: block;
}

.theme-dark .header__title,
.theme-dark .footer__title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.theme-dark .title-decor {
  background-color: var(--accent-bg-color);
  color: var(--accent-text-color);
}

.theme-dark .section__title {
  color: var(--section-title-color);
}

.theme-dark .card__text a {
  text-shadow: 2px 2px 0 var(--link-shadow-color);
}

.theme-dark .header__theme-menu-button {
  color: var(--decorated-color);
}

.theme-dark .header__theme-menu-button:hover {
  border-color: var(--button-hover-border);
}