*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  block-size: 100%;
}

body {
  min-block-size: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: none;
}