/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --accent-bg-color: #FF8DCB;
  --accent-text-color: #353430;
  --decorated-color: #353430;
  --section-title-color: #353430;
  --link-shadow-color: #FF8DCB;
  --button-hover-border: rgba(50, 49, 45, 0.4);
  --bg-image: url('../images/cover-image-light.png');
}

.theme-light .page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  color: var(--text-color);
}

.theme-light .header__rec {
  display: none;
}

.theme-light .header__title,
.theme-light .footer__title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.theme-light .title-decor {
  background-color: var(--accent-bg-color);
  color: var(--accent-text-color);
}

.theme-light .section__title {
  color: var(--section-title-color);
}

.theme-light .card__text a {
  text-shadow: 2px 2px 0 var(--link-shadow-color);
}

.theme-light .header__theme-menu-button {
  color: var(--decorated-color);
}

.theme-light .header__theme-menu-button:hover {
  border-color: var(--button-hover-border);
}

/*
  Стили для автоматической светлой темы через prefers-color-scheme.
  Они сработают, когда:
  1. Нет класса theme-light или theme-dark на html
  2. В системе выбрана светлая тема
  3. Нет принудительного переключения
*/

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --accent-bg-color: #FF8DCB;
    --accent-text-color: #353430;
    --decorated-color: #353430;
    --section-title-color: #353430;
    --link-shadow-color: #FF8DCB;
    --button-hover-border: rgba(50, 49, 45, 0.4);
    --bg-image: url('../images/cover-image-light.png');
  }

  .page {
    background-color: var(--bg-color);
    background-image: var(--bg-image);
    color: var(--text-color);
  }

  .header__rec {
    display: none;
  }

  .header__title,
  .footer__title {
    text-shadow: 4px 4px 0 var(--accent-color);
  }

  .title-decor {
    background-color: var(--accent-bg-color);
    color: var(--accent-text-color);
  }

  .section__title {
    color: var(--section-title-color);
  }

  .card__text a {
    text-shadow: 2px 2px 0 var(--link-shadow-color);
  }
}